*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    color: #0061FF;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
img{
    width: 100%;
}
p{
    font-size: 20px;
}
/* layout */
.b-container{
    width:  1920px;;
}
.m-container{
    width: 1200px;
}
.s-container{
    width: 1000px;
}
/* buttons */
.nav-bar button{
    line-height: 30px;
    width: 60px;
    font-size: 15px;
    border: 0;
}

main .button-first-part{
    line-height: 40px;
    width: 200px;
    font-size: 15px;
    border: 0;
    margin: 20px 0;
}

main .plan-choice .card .card-body button{
    line-height: 40px;
    width: 100%;
    font-size: 15px;
    border: 0;
    margin: 20px 0;
}
main .plan-choice .col-100 .card-body button{
    width: 250px;
}
main .partner-part .col-33 button{
    border: 1px solid black;
    width: 150px
}
/* general style */
.gap{
    gap: 30px;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.reverse-row{
    display: flex;
    flex-direction: row-reverse;
}
.align-items-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.justify-spacebetween{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.column{
    flex-direction: column;
}
/* column */
.col-33{
    width: calc(4 *100% / 12);
}
.col-50{
    width: calc(6 *100% / 12);
}
.col-66{
    width: calc(8* 100% / 12);
}
.col-100{
    width: calc(100%);
}
/* header style */
header a{
    text-decoration: none;
    color: black;
}
header{
    height: 80px;
    padding: 0 20px;
}

header img{
    width: 130px;
}
.title{
    padding: 50px 0;
}
/* main style */
main .img-jumbo img{
    position: absolute;
    height: 442px;
    width: 786px;
}
.fa-arrow-down{
    margin-top: 30px;
    font-size: 50px;
    padding: 20px;
}
main .plan-choice{
    margin-top: 100px;
}
main .plan-choice h2{
    padding: 10px 0;
}
main .plan-choice .choice-action{
    padding: 20px 25px;
    gap: 50px;
}
main .plan-choice .title{
    padding: 0 25px;
}
main .plan-choice .card .card-head{
    border: 1px solid #D0D0D3;
    padding: 7px;
}
main .plan-choice .card{
    padding: 25px;
}
main .plan-choice .col-100{
    margin: auto;
}
main .plan-choice .card .card-body{
    border: 1px solid #D0D0D3;
    padding: 25px;
    height: 100%;
}
main .card .card-body h3{
    padding: 20px 0;
}
main .plan-choice .card .card-body .month{
    padding-bottom: 35px;
}
main .plan-choice .card .card-body li{
    padding: 10px 0;
    display: flex;
    gap: 10px;
}
main .plan-choice .card .card-body hr{
    border: 1px solid;
    width: 50px;
    color: #D0D0D3;
    margin: 25px 0;
}
main .plan-choice .col-100 .card-body ul{
    padding-top: 25px;
}
main .partner-part{
    margin: 75px 0;
}
main .partner-part .s-container{
    padding: 25px;
}
main .partner-part .s-container .col-33{
    padding-top: 50px;
    padding-left: 50px;
}
main .partner-part .s-container .col-33 p{
    padding: 25px 0;
}
main .operation-part{
    margin-bottom: 50px;
}
main .operation-part .s-container h2{
    padding: 0 25px;
}
main .operation-part .s-container .card{
    padding: 25px;
}
main .team-use-db-part li{
    padding: 50px 0;
}
main .designit-part .col-33 .col-50{
    aspect-ratio: 1/1;
}
main .designit-part .col-33 .col-50 img{
    width: 160px;
}
main .designit-part .col-33 .col-50 .image-uf{
    width: 160px;
    height:25px;
}
main .designit-part .middle-designit-part{
    background-color: #F5F5F5;
    padding: 50px;
}
main .designit-part .middle-designit-part hr{
    border: 1px solid #D0D0D3;
    width: 110px;
    margin: 50px 0;
}
main .designit-part .middle-designit-part img{
    width: 250px;
}



/* Background color */
.bg-lightblue{
    background: #0061FF;
}
.bg-cyan{
    background: #B4D0E7;
}
/* text color */
.white{
    color: white;
}
.gray{
    color: gray;
}
.lightblue{
    color: #0061FF;
}
.bg-white{
    background: white;
}